*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:#1A1244;
    padding: 10px 200px;
    border-bottom: 4px solid #401E63;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: #271b67;
    color: crimson;
}
nav div{
    color: white;
    font-size: 25px;
}
header{
    background-image: url(search.jpg);
    padding: 100px 0px;
    background-repeat: no-repeat;
    background-size:cover;
}
.searcharea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searcharea input{
    padding: 8px 45px;
    border-radius: 15px;
    font-weight: bold;
    background-color: transparent;
    color: aliceblue;
    font-size: 20px;
    border-color: aliceblue;
}
.searcharea input:hover{
    border-color: yellow;
}
.searcharea div{
    margin-left: -35px;
}
.searcharea i{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
main{
    background-color:#2D236A ;

}
.section1{
    width: 1100px;
    margin: 0px auto;
    padding: 40px 5px;
}
.m1{
    display: flex;
    justify-content: space-between;
}
.m11{
    font-size: 25px;
    color: white;
    font-weight: bold;
}
.m12{
    color: white;
}
.m12 span{
    color: black;
    background-color: rgb(209, 200, 200);
    padding: 4px;
    border-radius: 5px;
    margin: 0px 10px;
    border: 1px solid gray;
    cursor: pointer;
}
.m2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    margin-top: 20px;
}
.mitem{
    height: 250px;
    border: 3px solid gray;
}
.mitem img{
    width: 100%;
    height: 100%;
}
.mitem div{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 10px;
}
.mitem:hover{
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.8;
    border-radius: 10px;
    cursor: pointer;
}
.m3{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.m3 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.m3 h3 a{
    background:rgb(23, 118, 47);
    border-radius: 10px;
    padding: 10px 5px;
}
.m3 h3 a:hover{
    background-color: rgb(21, 84, 37);
    transition: 0.5s;
}
.m3 .m31 a{
    margin: 0px 10px;
    background:rgb(23, 118, 47);
    padding: 8px ;
    border-radius: 5px;
}
.m3 .m31 a:hover{
    background-color: rgb(21, 84, 37);
}
footer{
    background-color: #64026b;
    color: white;
}
.f1{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    grid-gap: 50px;
    padding: 30px 0px;
}
.f11 h3{
    font-size: 25px;
    margin-bottom: 15px;
}
.f11 .p1{
    margin-bottom: 30px;
}
.f11 .p2{
    font-size: 18px;
    font-weight: bold;
}
.f12 h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.f12 a{
    color: white;
    text-decoration: none;
}
.f12 p{
    margin-bottom: 10px;
}
.f13 div{
    font-size: 25px;
    margin-bottom: 25px;

}
.f13 div a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background-color: #2D236A;
    padding: 8px;
    border-radius: 5px;
}
.f13 p{
    margin-bottom: 10px;
}
.f13 h3{
    margin-top: 30px;
}