*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:#1A1244;
    padding: 10px 200px;
    border-bottom: 4px solid #401E63;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: #271b67;
    color: crimson;
}
nav div{
    color: white;
    font-size: 25px;
}
form{
    background:rgb(157, 139, 172);
    height: fit-content;
    width: fit-content;
    margin: 100px auto;
    padding: 50px 40px;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 15px;
}
form h2{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
form .frm input{
    display: block;
    margin: auto;
    width: 300px;
    height: 30px;
    padding: 1px 10px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
}
form textarea{
    display: block;
    margin: auto;
    width: 300px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 20px;
}
form .sub{
    display: block;
    margin: auto;
    font-size: 15px;
    padding: 10px 20px;
    width: 250px;
    height: 30px;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient( to right, blue,aqua);
}
footer{
    background-color: #64026b;
    color: white;
}
.f1{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    grid-gap: 50px;
    padding: 30px 0px;
}
.f11 h3{
    font-size: 25px;
    margin-bottom: 15px;
}
.f11 .p1{
    margin-bottom: 30px;
}
.f11 .p2{
    font-size: 18px;
    font-weight: bold;
}
.f12 h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.f12 a{
    color: white;
    text-decoration: none;
}
.f12 p{
    margin-bottom: 10px;
}
.f13 div{
    font-size: 25px;
    margin-bottom: 25px;

}
.f13 div a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background-color: #2D236A;
    padding: 8px;
    border-radius: 5px;
}
.f13 p{
    margin-bottom: 10px;
}
.f13 h3{
    margin-top: 30px;
}